@model PaginatedList<Common.ResultsModel.Comparison>

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Documents compared with @Model.FirstOrDefault().OriginalDocumentName</h2>

<form asp-action="ComparedDocuments" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="hidden" name="originalName" value="@ViewData["CurrentNameFilter"] " />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="ComparedDocuments"
               asp-route-originalName="@ViewData["CurrentNameFilter"]">

                Back to Full List
            </a>|
            <a asp-action="Index">

                Back to History
            </a>
        </p>
    </div>
</form>


<table class="table">
    <tr>
        <th>Document Name</th>
        <th>Suspicious Passages no.</th>
        <th>Average similarity score</th>

    </tr>
    @foreach (var comparison in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(comparison.SuspiciousDocumentName, "Passages", new { comparisonID = comparison.comparisonID })
            </td>
            <td>
                @comparison.CommonPassages.Count
            </td>
            <td>
                @{
                    float average = 0;
                    foreach (var passage in comparison.CommonPassages)
                    {
                        average += passage.SimilarityScore;
                    }
                    average = average / comparison.CommonPassages.Count;
                    @average
                }
            </td>
        </tr>

                    }

</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="ComparedDocuments"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-originalName="@ViewData["CurrentNameFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="ComparedDocuments"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-originalName="@ViewData["CurrentNameFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
